@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('images/bg.jpeg');
    background-size: cover;
    background-position: top center;
    background-color: black;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* background wallpaper wrap */
.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* space that the white box resides in */
.boxSpace {
    background: #fff;
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* date and time styles */
#date {
    position: relative;
    width: 100%;
    padding: 11px 0 5px 0;
}

#day,
#month,
#time {
    text-align: center;
    font-size: 22px;
    color: black;
}

#month,
#time {
    font-size: 18px;
}

#today {
    color: #0CAFFF;
    font-weight: bold;
}

/* input box title */
.boxSpace .inputBox {
    margin: 20px 0;
    width: 105%;
    display: flex;
    height: 45px;
}

/* task input box font */
.inputBox input {
    width: 85%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
}

/* border color of input box */
.inputBox input:focus {
    border-color: #0CAFFF;
}

/* design of add icon button */
.inputBox button {
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background: #0CAFFF;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* hover animation */
.inputBox button:hover,
.footer button:hover {
    background: #0CAFFF;
}

/* active button animation */
.inputBox button.active {
    opacity: 1;
    pointer-events: auto;
}

/* task list design */
.boxSpace .taskList {
    max-height: 250px;
    overflow-y: auto;
}

/* icon css */
.taskList li {
    position: relative;
    list-style: none;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: default;
    overflow: hidden;
    word-wrap: break-word;
}

/* delete icon design */
.taskList li .icon.delete {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    background: #e74c3c;
    width: 45px;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* hover animation */
.taskList li:hover .icon.delete {
    right: 0px;
}

/* complete icon design */
.taskList li .icon.complete {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    background: #30d158;
    width: 45px;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.taskList li:hover .icon.complete {
    right: 90px;
}

.taskList li.completed {
    text-decoration: line-through;
    color: #696969;
    transition: text-decoration 0.3s ease;
}

/* edit icon design */
.taskList li .icon.edit {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    background: #0CAFFF;
    width: 45px;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0px 0px 0px 0px;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* hover icon animation */
.taskList li:hover .icon.edit {
    right: 45px;
}

/* edit icon design */
.taskList li .move {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    width: 45px;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* hover icon animation */
.taskList li:hover .move {
    right: 135px;
}

/* footer design */
.boxSpace .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

/* clear all button design */
.footer button {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
    margin-bottom: 2px;
    background: #0CAFFF;
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* active button design */
.footer button.active {
    opacity: 1;
    pointer-events: auto;
}

/* empty line */
.line {
    line-height: 0.5;
}

/* signature animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

/* hover animation */
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0CAFFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

/* hover animation */
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* drag and drop task animation */
.ghost {
    opacity: 0.5;
    position: absolute;
    z-index: 10000;
    pointer-events: none;
}